*{
    padding: 0;
    margin: 0;
}
body{
    min-width: 100vw;
    min-height: 100vh;
}
#content{
    width: 100%;
    height: 100%;
    background: #ccc;
}
.logo{
    width: 130px;
    aspect-ratio: 45/40;
    background: url('../images/stackLogo.svg');
    background-size: cover;
}